.body {
  margin: 0;
  padding: 0;
  .imagenresponsivamaxwidth {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}
.contenedorimagen {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 70%;
    min-height: 500px;
    background-image: url(imagenes/img4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
  }

.contenedor {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  background-color: lightblue;
  &__elementohijo {
    &__imagenresponsiva {
      width: 100%;
      height: auto;
    }
  }
}
