%centradoperfecto{
    display: grid;
    justify-content: center;
    align-items: center;
}

.contenedorgrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  background-color: #2196f3;
  gap: 10px;
  padding: 10px;

  &__elementohijo {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /*padding 20px 0; propiedad resumida*/
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 30px;
    @extend %centradoperfecto;
  }

  &__elemento1{
      grid-area: 1 / 1 / 3 / 4;/*grid row start, grid colum start, grid row end, grid colum end*/
    }
  &__elemento4{
      grid-area: 3 / 1 / 5 / 2;/*grid row start, grid colum start, grid row end, grid colum end*/
     
    }
  &__elemento6{
      grid-area: 3 / 3 / 5 / 5;/*grid row start, grid colum start, grid row end, grid colum end*/
  }

  &__elem1{
    grid-area: 1 / 3 / 2 / 5;
  }
  &__elem2{
    grid-area: 2 / 3 / 3 / 5;
  }
  &__elem3{
    grid-area: 1 / 1 / 2 / 2;
  }
  &__elem4{
    grid-area: 1 / 2 / 2 / 3;
  }
  &__elem5{
    grid-area: 2 / 1 / 3 / 2;
  }
  &__elem6{
    grid-area: 2 / 2 / 3 / 3;
  }

}
